<?xml version="1.0" encoding="UTF-8"?>
<!--
       Copyright 2010-2016 the original author or authors.
       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at
          http://www.apache.org/licenses/LICENSE-2.0
       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wangchg.study.db.mapper.GiftMapper">
    <!-- 1，size:表示缓存cache中能容纳的最大元素数。默认是1024；
		 2，flushInterval:定义缓存刷新周期，以毫秒计；
		 3，eviction:定义缓存的移除机制；默认是LRU(least recently userd，最近最少使用),还有FIFO(first in
			first out，先进先出)
		 4，readOnly:默认值是false，假如是true的话，缓存只能读。 -->
    <!--<cache size="1024" flushInterval="60000" eviction="LRU" readOnly="false" />-->
    <insert id="insertGift" parameterType="Gift">
        INSERT INTO gift (`key`) values (#{key})
    </insert>
    <select id="selectRandGift" resultType="Gift">
        SELECT id,`key`,createtime,flag
        FROM gift
        where flag = 0
        order by rand()
        limit 1
    </select>
    <update id="loseEfficacyById" parameterType="java.lang.Long">
        UPDATE gift
        set flag = 1
        where id = #{id}
    </update>
</mapper>